<div class="max-w-md mx-auto p-6 bg-white shadow-lg rounded-lg">
  <h2 class="text-2xl font-semibold text-gray-800 mb-6 text-center">Registrar Estudiante</h2>
  <form>
    <div class="mb-4">
      <label for="nombre" class="block text-sm font-medium text-gray-700 mb-2">Nombre del Estudiante:</label>
      <input
        type="text" id="nombre" name="nombre" [(ngModel)]="nombreEstudiante"
        class="border border-gray-300 focus:border-blue-500
        focus:ring-blue-500 rounded-lg px-3 py-2 w-full text-gray-700" placeholder="Escribe el nombre"
      /></div>
    <div class="mb-4">
      <label for="primerParcial" class="block text-sm font-medium text-gray-700 mb-2">Nota del Primer Parcial:</label>
      <input type="number" id="primerParcial" name="primerParcial" [(ngModel)]="notaPrimerParcial"
        class="border border-gray-300 focus:border-blue-500
        focus:ring-blue-500 rounded-lg px-3 py-2 w-full text-gray-700"placeholder="0 - 20"
      /></div>
    <div class="mb-4">
      <label for="segundoParcial" class="block text-sm font-medium text-gray-700 mb-2">Nota del Segundo Parcial:</label>
      <input type="number" id="segundoParcial" name="segundoParcial" [(ngModel)]="notaSegundoParcial"
        class="border border-gray-300 focus:border-blue-500
        focus:ring-blue-500 rounded-lg px-3 py-2 w-full text-gray-700"placeholder="0 - 20"
      /></div>
    <div class="mb-4">
      <label for="tercerParcial" class="block text-sm font-medium text-gray-700 mb-2">Nota del Tercer Parcial:</label>
      <input type="number" id="tercerParcial" name="tercerParcial" [(ngModel)]="notaTercerParcial"
        class="border border-gray-300 focus:border-blue-500
        focus:ring-blue-500 rounded-lg px-3 py-2 w-full text-gray-700" placeholder="0 - 20"
      /></div>
    <button type="button" (click)="calcularPromedio()"
      class="w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-lg transition duration-200"
    >Registrar Estudiante</button>
  </form>
</div>
